/* Universal Styles */


body{
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.header-main{
  color:white;
  font-size:50px;
  font-weight: normal;
}

/* link */

.link-cta{
  color: aquamarine;
  font-size: 16px;
}